/**
 * site.css - stylesheet for the Caltech Library's Digital Library Development Group's sandbox.
 *
 * orange: #FF6E1E;
 *
 * Secondary pallet:
 *
 * lightgrey: #C8C8C8
 * grey: #76777B
 * darkgrey: #616265
 * slategrey: #AAA99F
 *
 * Impact Pallete see: http://identity.caltech.edu/web/colors
 */
body {
     margin: 0;
     border: 0;
     padding: 0;
     width: 100%;
     height: 100%;
     color: black;
     background-color: white;
     /*
     color: #FF6E1E;
     background-color: #AAA99F; /* #76777B;*/
     */
     font-family: Open Sans, Helvetica, Sans-Serif;
     font-size: 16px;
}

header {
     position: relative;
     display: block;
     width: 100%;
     height: 105px;
     color: white;
     background-color: white;
     z-index: 2;
     vertical-align: middle;
}

header span {
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 2.0em;
}

header img {
     position: relative;
     display: inline;
     padding-left: 20px;
     margin: 0;
     height: 42px;
     padding-top: 32px;
}

header h1 {
     position: relative;
     display: inline-block;
     margin: 0;
     border: 0;
     padding: 0;
     font-size: 3em;
     font-weight: normal;
     vertical-align: 0.78em;
     color: #FF6E1E;
}

header a, header a:link, header a:visited, header a:active, header a:hover, header a:focus {
     color: #FF6E1E;
     background-color: inherit;
}


a, a:link, a:visited {
     color: #76777B;
     background-color: inherit;
     text-decoration: none;
}

a:active, a:hover, a:focus {
    color: #FF6E1E;
    font-weight: bolder;
}

nav {
    position: relative;
    display: block;
    width: 105%;
    margin: 0;
    padding: 0;
    font-size: 0.78em;
    vertical-align: middle;
    color: black;
    background-color: #AAA99F; /* #76777B;*/
    text-align: left;
}

nav div {
     display: inline-block;
     /* padding-left: 10em; */
     margin-left: 10em;
     margin-right: 0;
}

nav a, nav a:link, nav a:visited, nav a:active {
     color: white;
     background-color: inherit;
     text-decoration: none;
}

nav a:hover, nav a:focus {
     color: #FF6E1E;
     background-color: inherit;
     text-decoration: none;
}


nav div h2 {
     position: relative;
     display: block;
     min-width: 20%;
     margin: 0;
     font-size: 1.24em;
     font-style: normal;
}

nav div > ul {
     display: none;
     text-align: left;
}

nav ul {
    display: inline-block;
    height: auto;
    width: auto;
    padding-right: 0;
    margin-right: 0;
    list-style-type: none;
    text-align: left;
    text-decoration: none; 
}

nav ul li {
     display: inline;
     padding: 1em;
}

section {
     position: relative;
     display: inline-block;
     width: 100%;
     min-height: 84%;
     color: black;
     background-color: white;
     margin: 0;
     padding-top 0;
     padding-bottom: 2em;
     padding-left: 1em;
     padding-right: 0;
}

section p {
    width: 86%;
    height: auto;
}

section pre, section code {
    font-size: small;
    line-height: 1;
}

section h1 {
    font-size: 1.32em;
}

section h2 {
    font-size: 1.12em;
    font-weight: italic;
}

section h3 {
    font-size: 1em;
    text-transform: uppercase;
}

section ul {
    display: block;
    list-style: inside;
    list-style-type: circle;
    margin: 0;
    padding-left: 1.24em;
}

section ul ul {
    list-style-type: disc;
}

section ul ul ul {
    list-style-type: square;
}

section ul ul ul ul {
    list-style-type: circle;
}

section ul ul ul ul ul {
    list-style-type: disc;
}

section ul ul ul ul ul ul {
    list-style-type: square;
}


aside {
     margin: 0;
     border: 0;
     padding-left: 1em;
     position: relative;
     display: inline-block;
     text-align: right;
}

aside h2 {
     font-size: 1em;
     text-transform: uppercase;
}

aside h2 > a {
     font-style: normal;
}

aside ul {
     margin: 0;
     padding: 0;
     display: block;
     list-style-type: none;
}

aside ul li {
     font-size: 0.82em;
}

aside ul > ul {
     padding-left: 1em;
     font-size: 0.72em;
}

footer {
     position: fixed;
     bottom: 0;
     display: block;
     width: 100%;
     height: 2em;
     color: white;
     background-color: #616265;

     font-size: 80%;
     text-align: left;
     vertical-align: middle;
     z-index: 2;
}

footer h1, footer span, footer address {
     position: relative;
     display: inline-block;
     margin: 0;
     padding-left: 0.24em;
     font-family: Open Sans, Helvetica, Sans-Serif;
     font-size: 1em;
}

footer h1 {
     font-weight: normal;
}

footer a, footer a:link, footer a:visited, footer a:active, footer a:focus, footer a:hover {
     padding: 0;
     display: inline;
     margin: 0;
     color: #FF6E1E;
     text-decoration: none;
}

table th {
    text-align: left;
    vertical-align: text-bottom;
    /* text-transform: uppercase; */
    padding-right: 2.0em; 
    margin-right: 2.0em;
}

table td {
    height: auto;
    width: auto;
    vertical-align: text-top;
}

form div label {
    display: inline-block;
    text-align: right;
    min-width: 15%;
}

form div input {
    text-align: left;
    min-width: 70%;
}

form p {
    text-align: center;
    max-width: 50%;
}
form p input {
    text-align: left;
}

.subject {
    white-space: wrap;
    max-width: 18.0em;
}

.datestamp {
    white-space: nowrap;
}

#library_logo {
}

#project_logo {
    float: right;
}

.paging {
    font-size: smaller;
    font-family: "Gill Sans", sans-serif;
    margin: 0;
    padding: 0;
}

.paging h2 {
    margin-bottom: 0.24em;
    text-transform: lowercase;
}

.paging ul {
    padding: 0;
    list-style-type: none;
}

.paging ul li {
    display: inline-block;
    text-transform: lowercase;
    text-decoration: underline;
}

.logged-in-user {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
    padding-left: 1.24em;
    display: inline-block;
}
